.navigation-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	backdrop-filter: blur(2.5px) saturate(180%);
	-webkit-backdrop-filter: blur(2.5px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.2);
}

.navigation-bar__logo {
	display: inline-block;
	& img {
		cursor: pointer;
		width: 6%;
	}
}

.navigation-bar__menu__container {
	display: flex;
	gap: 12px;
}
