@use '../../index';

.navigation-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	backdrop-filter: blur(2.5px) saturate(180%);
	-webkit-backdrop-filter: blur(2.5px) saturate(180%);
	background-color: rgba(234, 235, 236, 0.6);
}

.navigation-bar__logo {
	display: inline-block;
	& img {
		cursor: pointer;
		width: 6%;
	}
}

.navigation-bar__menu__container {
	display: flex;
	gap: index.$secondary-gap-1;
}
