@use '../../index';

.main {
	padding: 5.5em;
	display: flex;
	justify-content: center;
}

.main__card-wrapper {
	display: grid;
	gap: index.$main-gap-1;
	grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1000px) {
	.main__card-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 750px) {
	.main__car-wrapper {
		grid-template-columns: 1fr;
	}
}
