.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	backdrop-filter: blur(2.5px) saturate(180%);
	-webkit-backdrop-filter: blur(2.5px) saturate(180%);
	background-color: rgba(20, 21, 24, 0.664);
}

.footer__logo {
	display: inline-block;
	& img {
		cursor: pointer;
		width: 6%;
	}
}
